<h2>About Quiz Master</h2>
<p class="lead">
  As a Quiz Master, you can create, read, update, and delete quizzes.
  Your students can take your quiz and immediately get their results by percentage correct.
  This app is quick, easy, fun, and educational.
</p>
<hr class="developer intro">

<h2 align="center"> Meet Your Developers </h2> <br><br>

<div class="row">
  <div class="col-lg-6">
      <img class="img-circle" src="jandy.jpg" alt="Woman's Headshot image" width="200" height="200">
    <h2>Jandy Quismundo</h2>
    <span class="text-muted">Full Stack Web Developer</span>
    <p class="lead">Jandy Quismundo is a JavaScript Full Stack Developer. She is working as an IT intern at Qualcomm in San Diego, California where she is creating a project management information system using SharePoint.</p>
  </div>
  <div class="col-lg-6">
      <img class="img-circle" src="LNprofile.jpg" alt="Woman's Headshot image" width="200" height="200">
    <h2>Lorraine Nibut</h2>
    <span class="text-muted">Full Stack Web Developer</span>
    <p class="lead">Lorraine Nibut is a JavaScript Full Stack Developer.  She is currently working as a freelance consultant in Orange County, California specializing in the development of corporate structures for small to mid-size not-for-profit companies.</p>
  </div>

</div>
